In [1]:
import pandas as pd
from randomuser import RandomUser

In [20]:
#Creating a funtion called 'get_users' to generate a df from a dictionary with random users.

def get_users():
    #Creating a List to store the users.
    Users = []
    
    #Creating a RandomUser object
    r = RandomUser.generate_users(10)
    
    #Creating a loop to append RandomUsers to the list
    for user in r:
        Users.append({'Name:':user.get_full_name(),'Phone_Number':user.get_phone()})
        
        #creating a DataFrame with the users.
    return pd.DataFrame(Users)

In [21]:
#calling the funtion 'get_users' to generate a dataframe with ramdom user names and phones
get_users()

                    Name:    Phone_Number
0          Phil Mitchelle    051-994-3830
1              Ege Kunter  (243)-258-8011
2  Heinz-Joachim Mittmann    0540-6099887
3           Zenóbia Sales  (49) 0353-4606
4            Luca Edwards  (725)-215-1803
5        Amadeus Kvalsvik        34037224
6        Connie Fernandez  (632)-271-6803
7          Ahmet Yorulmaz  (996)-642-1479
8       Dolores Dominguez     932-076-088
9             علی رضا صدر    008-59703891